# Numbers

In [1]:
2**31

2147483648

In [ ]:
2**63

In [ ]:
2**64

In [ ]:
2**128

In [ ]:
2**4000

In [ ]:
len(str(2**4000))

# Data types

## Lists

In [ ]:
arr = [0,1,2,3]
print(arr)

In [ ]:
arr = [1,2,'cos', [10,11,12], 3.14]
arr

In [ ]:
arr = [0,1,2,3]
arr

In [ ]:
len(arr)

In [ ]:
arr[1]

In [ ]:
arr[-1]

In [ ]:
arr[1:3]

In [ ]:
arr[:3]

In [ ]:
arr[-2:]

In [ ]:
arr[-3:-1]

In [ ]:
arr = [0,1,2,3,4,5,6]
arr[0:5]

In [ ]:
arr[0:5:2]

In [ ]:
arr[::2]

In [ ]:
arr[::-1]

In [ ]:
a=[0,1,2,3]
b=['a','b','c','d']
a+b

In [ ]:
a=[10,20,30,40]
a.append(100)
a

In [ ]:
a=[10,20,20,30,40]
a.remove(20)
a

## Tuples

In [2]:
a = (1,2,3)
a

(1, 2, 3)

In [ ]:
a[0]

In [ ]:
try:
    a[1]=1
except Exception as e:
    print('Exception:', e)

## Dictionaries

In [3]:
oceny = {'polski': 3.5, 'matematyka': 5, 'fizyka': 4, 
         'informatyka': 6}
oceny

{'polski': 3.5, 'matematyka': 5, 'fizyka': 4, 'informatyka': 6}

In [4]:
oceny['informatyka']

6

In [5]:
oceny['nowy przedmiot'] = 2.0
oceny

{'polski': 3.5,
 'matematyka': 5,
 'fizyka': 4,
 'informatyka': 6,
 'nowy przedmiot': 2.0}

# Sets

In [6]:
ulubione_przedmioty = set(['polski', 'muzyka', 'geografia', 'historia'])
ulubione_przedmioty

{'geografia', 'historia', 'muzyka', 'polski'}

In [7]:
'informatyka' in ulubione_przedmioty

False

In [8]:
if 'polski' in ulubione_przedmioty:
    print('Kocham j. polski!')

Kocham j. polski!

In [9]:
a = set(['a','b','c','d'])
b = set(['c','d','e','f'])
a.union(b)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [10]:
a.intersection(b)

{'c', 'd'}

In [11]:
a.difference(b)

{'a', 'b'}

## Strings

In [12]:
print('Imię: {}'.format('Wojciech'))

Imię: Wojciech

In [13]:
from math import pi
print(' Imię:     {},\n Nazwisko: {},\n PESEL:    {},\n Ulubiona: {}\n'
    .format('Wojciech', 'Jaśkowski', '8212...', pi))

 Imię:     Wojciech,
 Nazwisko: Jaśkowski,
 PESEL:    8212...,
 Ulubiona: 3.141592653589793

In [14]:
from math import pi
print('''
Imię:     {imie},
Nazwisko: {nazw},
PESEL:    {pesel},
Ulubiona: {ulub}
'''.format(
    nazw='Jaśkowski', 
    imie='Wojciech', 
    pesel='8212...', 
    ulub=pi))

Imię:     Wojciech,
Nazwisko: Jaśkowski,
PESEL:    8212...,
Ulubiona: 3.141592653589793

In [15]:
print('ęśćńżół')
print('יהוה')

ęśćńżół
יהוה

In [16]:
s = 'ala'
print(s[0:2])

al

In [ ]:
print('ala')
print("ala")

In [ ]:
print('ala ma "kota"')
print("ala ma 'kota'")

In [19]:
str(12)

'12'

In [17]:
int('12')

12

In [18]:
float('12.1')

12.1

In [20]:
text = 'Python is easy;really?'
text.split()

['Python', 'is', 'easy;really?']

In [21]:
text.split(';')

['Python is easy', 'really?']

In [22]:
import re
re.split(' |;', text)

['Python', 'is', 'easy', 'really?']

In [23]:
arr = ['a','b','c','d']
str(arr)

"['a', 'b', 'c', 'd']"

In [24]:
'; '.join(arr)

'a; b; c; d'

# Flow control

In [25]:
arr = ['a', 'b', 'c', 'd']
for a in arr:
    print(a)

a
b
c
d

In [26]:
list(range(4))

[0, 1, 2, 3]

In [27]:
for i in range(len(arr)):
    print(i, arr[i])

0 a
1 b
2 c
3 d

In [28]:
for i, a in enumerate(arr):
    print(i, a)

0 a
1 b
2 c
3 d

In [29]:
a = [0,1,2,3]
b = ['a','b','c','d']
n = len(a)
for i in range(n):
    print(a[i], b[i])

0 a
1 b
2 c
3 d

In [30]:
a = [0,1,2,3]
b = ['a','b','c','d']
for x, y in zip(a, b):
    print(x, y)

0 a
1 b
2 c
3 d

In [31]:
list(zip(a,b))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [32]:
c=['ala','ma','kota','!']
zipped = list(zip(a,b,c))
zipped

[(0, 'a', 'ala'), (1, 'b', 'ma'), (2, 'c', 'kota'), (3, 'd', '!')]

In [33]:
a, b, c = list(zip(*zipped))
print(a)
print(b)
print(c)

(0, 1, 2, 3)
('a', 'b', 'c', 'd')
('ala', 'ma', 'kota', '!')

In [34]:
arr = [0,1,2,3]
for a in arr:
    if a % 3 == 0:
        print('{} = 0 (mod 3)'.format(a))
    elif a % 3 == 1:
        print('{} = 1 (mod 3)'.format(a))
    else:
        print('{} = 2 (mod 3)'.format(a))

0 = 0 (mod 3)
1 = 1 (mod 3)
2 = 2 (mod 3)
3 = 0 (mod 3)

In [35]:
12 // 5

2

In [36]:
s = 'python'
while s[0] != 'h':
    s = s[1:]
print(s)

hon

In [37]:
a = 1
if -1 <= a and a <= 1:
    print('A is in range')

A is in range

In [38]:
if -1 <= a <= 1:
    print('A is in range')

A is in range

In [ ]:
a = [1, 2, 3]
if not 4 in a:
    print('4 is missing')

In [ ]:
# or, continue, break

## Iterating over dictionaries

In [ ]:
d = {'a': 1, 'b': 2, 12: 'mama'}
for v in d:
    print(v)

In [ ]:
for k, v in d.items():
    print(str(k) + ' => ' + str(v))

## Functions

In [44]:
def suma(a, b):    
    return a + b
        
suma(1,3)

4

In [45]:
def suma(a, b, wa=1, wb=1):
    return wa * a + wb * b

print(suma(1, 3))

4

In [46]:
print(suma(1, 3, 2, 1))

5

In [47]:
print(suma(1, 3, wb=2, wa=1))

7

In [48]:
print(suma(1, 3, wb=2))

7

In [49]:
def f(arr):
    n = x = arr[0]
    for a in arr:
        if n > a:
            n = a
        if x < a:
            x = a
    return n, x

print(f([2,3,1,4]))

(1, 4)

In [50]:
a, b = f([2,3,1,4])
print(a)
print(b)

1
4

In [51]:
x = f([2,3,1,4])
x

(1, 4)

In [52]:
a = 1
b = 2
a, b = b, a
print('a = ' + str(a))
print('b = ' + str(b))

a = 2
b = 1

In [53]:
x = ['ala','ma','kota']
a, b, c = x
print('a = ' + str(a))
print('b = ' + str(b))
print('c = ' + str(c))

a = ala
b = ma
c = kota

In [56]:
def f(wa=1, wb=1):   
    def g(a, b):
        return a * wa + b * wb
    return g

f(1,3)

In [57]:
wazona = f(0, 1)

wazona(1,2)

2

In [58]:
wazona(1, 3)

3

In [59]:
arr = [-3, 2, 1, 4]
arr.sort()
arr

[-3, 1, 2, 4]

In [60]:
arr.sort(reverse=True)
arr

[4, 2, 1, -3]

In [61]:
def mykey(x):
    return abs(x)
arr.sort(key=mykey)
arr

[1, 2, -3, 4]

In [62]:
arr.sort(key=lambda x: abs(x))
arr

[1, 2, -3, 4]

In [63]:
f = lambda a, b: a - b
print(f(1,2))

-1

In [64]:
g = lambda a, b: a + b
print(g(1,2))

3

In [65]:
f, g = g, f
print(f(1,2))
print(g(1,2))

3
-1

# Various

## Complex numbers

In [66]:
1+3j

(1+3j)

In [67]:
abs(1+3j)

3.1622776601683795

In [68]:
(1+3j)*(2-1j)

(5+5j)

## Generators (yield)

In [69]:
def whatdoido():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b
        
print(whatdoido())

<generator object whatdoido at 0x7f9c6c2603b8>

In [70]:
g = whatdoido()
print(next(g))

0

In [71]:
print(next(g))
print(next(g))
print(next(g))

1
1
2

In [72]:
for i in range(10):
    print(next(g))

3
5
8
13
21
34
55
89
144
233

In [73]:
for v in whatdoido():
    if v > 100:
        break
    print(v)

0
1
1
2
3
5
8
13
21
34
55
89

In [74]:
def combinations(iterable, r):
    # combinations('ABCD', 2) --> AB AC AD BC BD CD
    # combinations(range(4), 3) --> 012 013 023 123
    pool = tuple(iterable)
    n = len(pool)
    if r > n:
        return
    indices = list(range(r))
    yield tuple(pool[i] for i in indices)
    while True:
        for i in reversed(range(r)):
            if indices[i] != i + n - r:
                break
        else:
            return
        indices[i] += 1
        for j in range(i+1, r):
            indices[j] = indices[j-1] + 1
        yield tuple(pool[i] for i in indices)
        
pairs = combinations('ABCD', 2)
print(pairs)
for pair in pairs:
    print(pair)

<generator object combinations at 0x7f9c6c2605c8>
('A', 'B')
('A', 'C')
('A', 'D')
('B', 'C')
('B', 'D')
('C', 'D')

In [75]:
# Pierwsze trzy pary, które mają A i G w środku
pairs = combinations('ABCDEFGH', 3)
found = 0
for pair in pairs:
    if 'A' in pair and 'G' in pair and found < 3:
        found += 1
        print(pair)

('A', 'B', 'G')
('A', 'C', 'G')
('A', 'D', 'G')

## Build-in functions

In [76]:
x=1
eval('max([x,2,-2,3])')

3

In [77]:
exec('import math; print(math.sin(2*math.pi))')

-2.4492935982947064e-16

In [78]:
print(all([True, False, True]))
print(any([True, False, True]))

False
True

In [79]:
print(sum([1,2,3]))
print(min([1,2,3]))
print(max([1,2,3]))

6
1
3

In [80]:
print(abs(-12))
print(round(3.14159, 3))

12
3.142

In [81]:
print(float(12))
print(int(12.7))

12.0
12

In [82]:
print(str(123))
print(str([1,2,3]))

123
[1, 2, 3]

In [83]:
print(ord('a'))
print(chr(98))

97
b

In [84]:
print(type('ala ma kota'))
print(type([1,2,3]))

<class 'str'>
<class 'list'>

## Global

In [85]:
text = 'ala ma kota'

def a():
    print('a: ' + text) 
def b():
    print('b: '  + text)
    text = 'ala ma psa'

In [86]:
a()

a: ala ma kota

In [87]:
try:
    b()
except:
    import traceback
    print(traceback.format_exc())

Traceback (most recent call last):
  File "<ipython-input-87-84aab3e3f319>", line 2, in <module>
    b()
  File "<ipython-input-85-39e82c4eb044>", line 6, in b
    print('b: '  + text)
UnboundLocalError: local variable 'text' referenced before assignment

In [88]:
text = 'ala ma kota'
def c():
    global text
    print('c: '  + text)
    text = 'ala ma psa'
c()

c: ala ma kota

# Comprehensions

## Lists

In [89]:
arr = [0,1,2,3,4,5]
new = []
for a in arr:
    new.append('A' + str(a))
new

['A0', 'A1', 'A2', 'A3', 'A4', 'A5']

In [90]:
arr = [0,1,2,3,4,5]
new = ['A' + str(a) for a in arr]
new

['A0', 'A1', 'A2', 'A3', 'A4', 'A5']

In [91]:
arr = [0,1,2,3,4,5]
new = ['A' + str(a) for a in arr if a % 2 == 0]
new

['A0', 'A2', 'A4']

In [92]:
arr = [0,13,2,4,11]
sum([1 for a in arr if a % 2 == 0])

3

In [93]:
# Chcemy wszystkie pierwsze litery wyrazów zamienić na wielkie
text = 'to jest krótki text nie na temat'
splitted = text.split()
splitted

['to', 'jest', 'krótki', 'text', 'nie', 'na', 'temat']

In [94]:
big = [x[0].upper() + x[1:] for x in splitted]
big

['To', 'Jest', 'Krótki', 'Text', 'Nie', 'Na', 'Temat']

In [95]:
" ".join(big)

'To Jest Krótki Text Nie Na Temat'

In [96]:
text = 'to jest krótki text nie na temat'
print(" ".join([x[0].upper() + x[1:] for x in text.split()]))

To Jest Krótki Text Nie Na Temat

## Dictionaries

In [97]:
przedmioty = ('matematyka', 'fizyka', 'chemia')
slownik = {p: len(p) for p in przedmioty}
slownik

{'matematyka': 10, 'fizyka': 6, 'chemia': 6}

# Classes

In [98]:
class Circle:
    def __init__(self, radius):
        self.radius = radius    
        
    def area(self):
        from math import pi
        return pi * self.radius**2
    
    def set_radius(self, radius):
        self.radius = radius    
        
c = Circle(3)
print(c.area())
c.set_radius(5)

28.274333882308138

In [99]:
print(c.radius)

5

In [100]:
class Container:
    pass

c = Container()
c.size = 12
c.value = 10000

def compute(container):
    return container.size ** 2

compute(c)

144

In [101]:
class Przedmiot:
    acoto = 12
    def __init__(self, nazwa):
        self.nazwa = nazwa
        
p = Przedmiot('kck')
p.nazwa

'kck'

In [102]:
print(p.acoto)
print(Przedmiot.acoto)

12
12

In [103]:
print(p)

<__main__.Przedmiot object at 0x7f9c6c26c048>

In [104]:
class Przedmiot:    
    def __init__(self, nazwa):
        self.nazwa = nazwa
        
    def __repr__(self):
        return 'Przedmiot o nazwie ' + self.nazwa
    
p = Przedmiot('KCK')
print(p)

Przedmiot o nazwie KCK

## Duck typing

In [105]:
class Circle:
    def __init__(self, radius):
        self.radius = radius            
    def area(self):
        from math import pi
        return pi * self.radius**2

class Square:
    def __init__(self, w):
        self.w = w
    def area(self):
        return self.w**2
    
def get_shape():
    from random import choice
    return choice([Square(4), Circle(4)])
    
shape = get_shape()
shape.area()

50.26548245743669

# Files

In [106]:
f = open('test.txt','w')
for i in range(6):
    f.write('To jest linia {}\n'.format(i))
f.close()

In [107]:
cat test.txt

To jest linia 0
To jest linia 1
To jest linia 2
To jest linia 3
To jest linia 4
To jest linia 5

In [108]:
f = open('test.txt')
for line in f:
    print(line, end='')
f.close()

To jest linia 0
To jest linia 1
To jest linia 2
To jest linia 3
To jest linia 4
To jest linia 5

In [109]:
with open('test.txt') as f:
    for line in f:
        print(line, end='')

To jest linia 0
To jest linia 1
To jest linia 2
To jest linia 3
To jest linia 4
To jest linia 5

In [110]:
with open('test.txt') as f:
    lines = f.readlines()
lines[1]

'To jest linia 1\n'